<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Mensagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-pad">
    <div class="list">
      @for (linha of conversas; track linha.item.id) {
        <a class="row" [routerLink]="['/chat', linha.item.id]">
          <img [src]="linha.item.owner.avatar" [alt]="linha.item.owner.name" />
          <div>
            <h3>{{ linha.item.owner.name }}</h3>
            <p>{{ linha.ultima.text }}</p>
          </div>
          <span>{{ linha.ultima.time }}</span>
        </a>
      } @empty {
        <p>Nenhuma conversa ainda.</p>
      }
    </div>
  </div>
</ion-content>
