<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mensagens" href="/tabs/mensagens">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Mensagens</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="anunciar" href="/tabs/anunciar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Anunciar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favoritos" href="/tabs/favoritos">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
