<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-pad">
    <ion-searchbar
      class="search-field"
      placeholder="Buscar itens, categorias, bairro"
      animated="true"
      [debounce]="200"
      (ionInput)="onSearch($event.detail.value)"
    ></ion-searchbar>

    <div class="list">
      @for (item of results(); track item.id) {
        <a class="row" [routerLink]="['/item', item.id]">
          <img [src]="item.image" [alt]="item.title" />
          <div>
            <h3>{{ item.title }}</h3>
            <p>{{ item.neighborhood }} · {{ item.pricePerDay | currency: 'BRL' : 'symbol-narrow' : '1.0-0' }}/dia</p>
          </div>
        </a>
      } @empty {
        <p>Nenhum item encontrado.</p>
      }
    </div>
  </div>
</ion-content>
